/* Basic styling for the main app */
.App {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

/* Styling for the call dialer section */
.call-dialer {
  margin: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Hover effect for buttons */
button:hover {
  background-color: #0056b3;
}

.hangUp {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  background-color: #f0ad4e;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}


.hangUp:hover {
  background-color: #bb2124;
}

/* Styling for call status display */
.call-status {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* Styling for the image */
.image-container {
  margin-top: 30px;
}

.call-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #007bff;
}

audio {
  display: none; /* Hides the audio element as it’s only for streaming */
}
